In [7]:
## libraries
import pandas as pd
import numpy as np

In [12]:
## import data
ds = pd.read_csv('./data/DataScientist.csv')
de = pd.read_csv('./data/DataEngineer.csv')
da = pd.read_csv('./data/DataAnalyst.csv')

#da = pd.read_csv('./data/DataAnalyst.csv', index_col = 0)

In [14]:
## drop 'Unnamed: 0' column
df_list = [ds, da, de]
for df in df_list:
    if 'Unnamed: 0' in df.columns:
        df.drop(['Unnamed: 0', 'index'], axis = 1, inplace = True)

In [42]:
ds = ds.replace(['-1', -1, ' ', 'NULL'],np.nan)

In [49]:
percent_missing = round(ds.isnull().sum() * 100 / len(ds),3)
missing_value_df = pd.DataFrame({'column_name': ds.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', ascending= False, inplace=True)

missing_value_df = missing_value_df.reset_index()
missing_value_df.drop('index', axis = 1, inplace=True) #0 rows, 1 columns

In [50]:
print(missing_value_df)

          column_name  percent_missing
0          Easy Apply           95.805
1         Competitors           70.606
2             Founded           24.994
3            Industry           13.968
4              Sector           13.968
5              Rating           10.463
6        Headquarters            6.140
7                Size            5.858
8   Type of ownership            5.858
9             Revenue            5.858
10              index            0.000
11          Job Title            0.000
12    Salary Estimate            0.000
13    Job Description            0.000
14       Company Name            0.000
15           Location            0.000

In [57]:
## drop column at specific na%
print(missing_value_df[missing_value_df['percent_missing'] > 60])

# Below code gives list of columns having more than 60% null
#col_to_drop = percent_missing[percent_missing>60].keys()
#output_df = df.drop(col_to_drop, axis=1)

ds = ds.dropna(thresh=ds.shape[0]*0.6, how = 'all', axis = 1)

   column_name  percent_missing
0   Easy Apply           95.805
1  Competitors           70.606